# PANDAS
Одна из самых необходимых библиотек для работы с данными в python (есть также модуль polars, он предназначен для того же)
Pandas - это пакет для манипулирования данными и их анализа на Python. Название Pandas происходит от эконометрического термина Panel Data. Pandas включает в Python две дополнительные структуры данных, а именно Pandas Series и Pandas DataFrame. Эти структуры данных позволяют нам работать с маркированными и реляционными данными простым и интуитивно понятным способом.
Серия Pandas и фреймы данных предназначены для быстрого анализа данных и манипулирования ими, а также являются гибкими и простыми в использовании. Ниже приведены лишь несколько функций, которые делают Pandas отличным пакетом для анализа данных:
- Позволяет использовать метки для строк и столбцов
- Может вычислять скользящую статистику по данным временных рядов
- Простая обработка значений NaN
- Способен загружать данные разных форматов во фреймы данных
- ожет объединять различные наборы данных вместе
- Интегрируется с NumPy и Matplotlib

Для установки пропишем **pip install pandas**

Серии
Объект, похожий на одномерный массив, который может содержать множество типов данных. Одно из основных отличий между Pandas Series и NumPy ndarrays заключается в том, что мы можем назначить индексную метку каждому элементу в Pandas Series. Еще одно большое отличие заключается в том, что серии Pandas могут содержать данные разных типов.
Синтаксис:
pd.Series(данные, индекс)

In [4]:
# Серия создается так: (создадим пустую серию)
import pandas as pd

ls = pd.Series()
print(ls)

Series([], dtype: object)

In [6]:
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
print(groceries)

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

**форма, размер, значения, индекс, ndim (измерение)**

In [8]:
print('Shape:', groceries.shape)
print('Dimension:', groceries.ndim)
print(groceries.size, 'elements')
print('Data:', groceries.values)
print('Index:', groceries.index)

Shape: (4,)
Dimension: 1
4 elements
Data: [30 6 'Yes' 'No']
Index: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [9]:
# проверим, существует ли индексная метка в серии
x = 'bananas' in groceries
x

False

**Можем создавать объект series из ndarray**

In [10]:
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd'])
ls = pd.Series(data)
print(ls)

0    a
1    b
2    c
3    d
dtype: object

**Можем создавать series прямо из списка (list)**

In [11]:
import pandas as pd

a = [6, 7, 2]
ls = pd.Series(a)
print(ls)

0    6
1    7
2    2
dtype: int64

**А так же из словаря**

In [12]:
import pandas as pd

calories = {"day1": 420,
            "day2": 380,
            "day3": 390
            }
df = pd.Series(calories)
print(df)

day1    420
day2    380
day3    390
dtype: int64

**Да, можем даже создать из списка словарей)))**

In [16]:
import pandas as pd

data = [
    {'a': 1, 'b': 2},
    {'a': 5, 'b': 10, 'c': 20}
]
df = pd.DataFrame(data)
print(df.loc[0])  # Pandas использует атрибут loc для возврата одной или нескольких указанных строк.

a    1.0
b    2.0
c    NaN
Name: 0, dtype: float64

**Операции с датафреймами**

In [24]:
import pandas as pd

d = {'Name': pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack',
                        'Lee', 'David', 'Gasper', 'Betina', 'Andres']),
     'Age': pd.Series([25, 26, 25, 23, 30, 29, 23, 34, 40, 30, 51, 46]),
     'Rating': pd.Series([4.23, 3.24, 3.98, 2.56, 3.20, 4.6, 3.8, 3.78, 2.98, 4.80, 4.10, 3.65])
     }

# Создаем датафрейм
df = pd.DataFrame(d)
print(df)
print("------------------**sum**---------------------")
print(df.sum())
print("------------------**mean**---------------------")
print(df.Age.mean())
print(df.Rating.mean())
print("------------------**mode**---------------------")
print(df.Age.mode())
print(df.Rating.mode())
print("------------------**median**---------------------")
print(df.Age.median())
print(df.Rating.median())
print("------------------**std**---------------------")
print(df.Age.std())
print(df.Rating.std())
print("------------------**describe**---------------------")
print(df.describe())
print("------------------**max**---------------------")
print(df.max())
print("------------------**min**---------------------")
print(df.min())

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
------------------**sum**---------------------
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object
------------------**mean**---------------------
31.833333333333332
3.7433333333333327
------------------**mode**---------------------
0    23
1    25
2    30
Name: Age, dtype: int64
0     2.56
1     2.98
2     3.20
3     3.24
4     3.65
5     3.78
6     3.80
7     3.98
8     4.10
9     4.23
10    4.60
11    4.80
Name: Rating, dtype: float64
------------------**median**---------------------
29.5
3.79
------------------**std**---------------------
9.232682396921506
0.6616279280316959
------------------**describe**---------------------
             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000
------------------**max**---------------------
Name      Vin
Age        51
Rating    4.8
dtype: object
------------------**min**---------------------
Name      Andres
Age           23
Rating      2.56
dtype: object

# Манипуляции с данными

- Добавление/удаление столбцов
- Агрегирование данных
- Группировка и сводные таблицы

In [25]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [20, 35, 27]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   20
1      Bob   35
2  Charlie   27

Добавление элементов в фрейм данных

In [31]:
df['City'] = ['New York', 'Los Angeles', 'Chicago']
print(df)

      Name  Age         City
0    Alice   20     New York
1      Bob   35  Los Angeles
2  Charlie   27      Chicago

In [32]:
df = df.drop('City', axis=1)
print(df)

      Name  Age
0    Alice   20
1      Bob   35
2  Charlie   27

# Сводные таблицы

In [45]:
import pandas as pd

data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)

In [46]:
pivot_table = df.pivot_table(index='Category', values='Value', aggfunc='sum')  # Найдем сумму по каждой категории
print(pivot_table)

          Value
Category
A            55
B            80

In [48]:
pivot_table = df.pivot_table(index='Category', values='Value', aggfunc='mean')  # Найдем среднее по каждой категории
print(pivot_table)

              Value
Category
A         18.333333
B         26.666667

# Основные операции с фреймами данных

- Выбор столбцов
- Фильтрация данных
- Сортировка данных
- Описательная статистика

In [49]:
# Выбор столбца
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [20, 35, 27],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
df1 = df['Name']
df2 = df[['Name', 'Age']]

print(df1)
print("-" * 25)
print(df2)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
-------------------------
      Name  Age
0    Alice   20
1      Bob   35
2  Charlie   27

In [50]:
# Отфильтруем строки
x1 = df[df['Age'] > 30]
y1 = df[(df['Age'] > 25) & (df['City'] == 'New York')]
print(x1)
print("-" * 25)
print(y1)

  Name  Age         City
1  Bob   35  Los Angeles
-------------------------
Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [55]:
# Сортировка данных
Q1 = df.sort_values(by='Age')
Q2 = df.sort_values(by=['City', 'Age'], ascending=[True, False])

print(Q1)
print("-" * 25)
print(Q2)

      Name  Age         City
0    Alice   20     New York
2  Charlie   27      Chicago
1      Bob   35  Los Angeles
-------------------------
      Name  Age         City
2  Charlie   27      Chicago
1      Bob   35  Los Angeles
0    Alice   20     New York

# Для дальнейшей работы скачиваем датасет с Kaggle

https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database

In [98]:
import pandas as pd
import numpy as np

anime = pd.read_csv(
    'anim_recom/anime.csv')  # Мы можем выгружать данные из csv, excel, sas, json, html, pickle, sql, gbq. Достаточно использовать метод read_* (вместо звёздочки используем наименование необходимого формата)
rating = pd.read_csv('anim_recom/rating.csv')
anime_modified = anime.set_index('name')

In [59]:
anime.head(3)   # head используется для просмотра необходимого количества строк в датасете (С начала датасета)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262

In [63]:
rating.tail(3)  #  tail используется для просмотра необходимого количества строк в датасете (С конца датасета)

         user_id  anime_id  rating
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

In [66]:
len(df)     # Подсчёт кол-ва строк в датасете

3

In [67]:
df

      Name  Age         City
0    Alice   20     New York
1      Bob   35  Los Angeles
2  Charlie   27      Chicago

In [122]:
rating['user_id'].nunique()    # Подсчёт кол-ва уникальных значений

73515

In [70]:
anime.info()    # Краткая сводка о датасете

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [74]:
anime.describe()    # Вывод статистических сведений о датафрейме

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [75]:
anime.type.value_counts()   # value_counts подсчитывает кол-во значений

type
TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: count, dtype: int64

In [76]:
anime.episodes.value_counts()

episodes
1      5677
2      1076
12      816
13      572
26      514
       ...
358       1
366       1
201       1
172       1
125       1
Name: count, Length: 187, dtype: int64

In [80]:
anime['genre'].tolist()     # Мы также можем перевести столбец в список

['Drama, Romance, School, Supernatural',
 'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Sci-Fi, Thriller',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Comedy, Drama, School, Shounen, Sports',
 'Action, Adventure, Shounen, Super Power',
 'Drama, Military, Sci-Fi, Space',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Drama, Fantasy, Romance, Slice of Life, Supernatural',
 'Drama, School, Shounen',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Action, Drama, Mecha, Military, Sci-Fi, Super Power',
 'Comedy, Drama, School, Shounen, Sports',
 'Adventure, Drama, Supernatural',
 'Drama, Music, Romance, School, Shounen',
 'Adventure, Fantasy, Historical, Mystery, Seinen, Slice of Life, Supernatural',
 'Fantasy, Slice of Life',
 'Action, Mecha, Military, School, Sci-Fi, Super Power',
 'Comedy, Drama, Shounen, Sports',
 'Action, Drama, Historical, Martial Arts, Romance, Samurai',
 'Action, Adventure, Comedy, Drama, Sci-Fi, Space',
 'Action, Comedy, Parody, Sci-Fi, Seinen, Super Power, Supernatural',
 'Action, Adventure, Fantasy',
 'Comedy, Mystery, Romance, School, Sci-Fi, Supernatural',
 'Comedy, Mystery, Romance, Supernatural, Vampire',
 'Adventure, Fantasy, Historical, Mystery, Seinen, Slice of Life, Supernatural',
 'Adventure, Fantasy, Historical, Mystery, Seinen, Slice of Life, Supernatural',
 'Action, Adventure, Comedy, Mecha, Sci-Fi',
 'Comedy, Drama, School, Shounen, Slice of Life',
 'Drama, Fantasy, Shoujo, Slice of Life, Supernatural',
 'Comedy, Drama, Shounen, Sports',
 'Adventure, Fantasy, Historical, Mystery, Seinen, Slice of Life, Supernatural',
 'Drama, Fantasy, Shoujo, Slice of Life, Supernatural',
 'Adventure, Drama, Fantasy, Romance',
 'Action, Fantasy, Supernatural, Thriller',
 'Action, Mystery, Supernatural, Vampire',
 'Drama, Horror, Mystery, Police, Psychological, Seinen, Thriller',
 'Comedy, Drama, Romance, Shounen',
 'Mystery, Police, Psychological, Supernatural, Thriller',
 'Comedy, Parody',
 'Action, Comedy, School, Shounen',
 'Comedy, Drama, School, Shounen, Sports',
 'Comedy, Drama, Shounen, Sports',
 'Action, Drama, Mystery, Romance, Supernatural, Thriller',
 'Drama, Fantasy, Shoujo, Slice of Life, Supernatural',
 'Psychological, Seinen, Sports',
 'Adventure, Fantasy, Historical, Mystery, Seinen, Slice of Life, Supernatural',
 'Mystery, Psychological, Seinen, Supernatural',
 'Mystery, Psychological, Romance',
 'Fantasy, Sci-Fi, Shounen, Slice of Life',
 'Comedy, Demons, Fantasy, Shoujo, Supernatural',
 'Drama, Historical, Seinen, Thriller',
 'Drama, Fantasy, Psychological, Thriller',
 'Action, Mecha, Sci-Fi, Space, Super Power',
 'Drama, Fantasy, Shoujo, Slice of Life, Supernatural',
 'Drama, Slice of Life, Supernatural',
 'Comedy, School, Shounen, Sports',
 'Sci-Fi, Thriller',
 'Drama, Romance, Shoujo, Supernatural',
 'Ecchi, School, Shounen',
 'Comedy, Sports',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Action, Adventure, Drama, Shounen, Supernatural',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Action, Horror, Military, Seinen, Supernatural, Vampire',
 'Action, Drama, Horror, Psychological, Sci-Fi, Seinen',
 'Drama, Historical, Josei',
 'Comedy, Sci-Fi, Seinen, Slice of Life, Space',
 'Adventure, Supernatural',
 'Drama, Historical',
 'Comedy, School, Shounen, Sports',
 'Comedy, Drama, Romance, Sports',
 'Action, Adventure, Comedy, Drama, Fantasy, Shounen, Super Power',
 'Action, Mecha, Military, Mystery, Police, Sci-Fi, Seinen',
 'Action, Adventure, Comedy, Drama, Shounen, Supernatural',
 'Action, Mystery, Romance, Supernatural, Thriller',
 'Action, Historical, Military, Seinen',
 'Comedy, Drama, School, Shounen, Sports',
 'Josei, Slice of Life',
 'Military, School',
 'Action, Comedy, Slice of Life, Supernatural',
 'Comedy, Drama, Music, Romance, Shoujo, Slice of Life',
 'Action, Comedy, Historical, Mystery, Seinen, Supernatural',
 'Adventure, Fantasy, Historical, Mystery, Seinen, Slice of Life, Supernatural',
 'Action, Drama, Fantasy, Shounen, Super Power',
 'Comedy, Drama, Romance, Shounen',
 'Comedy, Drama, Romance, School, Sports',
 'Romance, School, Shounen Ai, Slice of Life',
 'Action, Mecha, Sci-Fi',
 'Drama, Horror, Mystery, Sci-Fi, Supernatural',
 'Action, Drama, Military, Sci-Fi, Space',
 'Drama, Game, Josei, Slice of Life, Sports',
 'Action, Fantasy, Supernatural',
 'Action, Adventure, Shounen, Supernatural, Vampire',
 'Drama, Magic, Psychological, Thriller',
 'Comedy, School, Slice of Life',
 'Action, Police, Psychological, Sci-Fi',
 'Comedy, Slice of Life',
 'Comedy, School, Shounen, Sports',
 'Action, Adventure, Fantasy, Magic, Shounen',
 'Drama, Magic, Psychological, Thriller',
 'Comedy, Drama, Sports',
 'Action, Adventure, Comedy, Historical, Samurai, Shounen',
 'Ecchi, School, Shounen',
 'Action, Adventure, Historical, Martial Arts, Romance',
 'Drama, Magic, Psychological, Thriller',
 'Comedy, Drama, Sports',
 'Demons, Fantasy, Historical, Horror, Mystery, Seinen, Supernatural',
 'Comedy, Drama',
 'Drama, Sports',
 'Action, Adventure, Shounen, Super Power',
 'Action, Adventure, Shounen, Supernatural',
 'Drama, Josei, Music, Romance, School',
 'Adventure, Comedy, Supernatural',
 'Action, Mecha, Military, Police, Sci-Fi, Seinen',
 'Adventure, Fantasy',
 'Adventure, Comedy, Ecchi, Fantasy, Game, Supernatural',
 'Adventure, Drama, Historical, Slice of Life',
 'Action, Comedy, Demons, Fantasy, Martial Arts, School, Shounen',
 'Action, Adventure, Slice of Life',
 'Comedy, School, Shounen, Sports',
 'Comedy, Drama, Josei, Music, Romance, Slice of Life',
 'Adventure, Fantasy, Historical, Romance',
 'Action, Fantasy, Shoujo, Supernatural',
 'Sci-Fi, Thriller',
 'Action, Fantasy, Magic, Shounen, Supernatural',
 'Drama, Fantasy',
 'Mystery, Supernatural, Vampire',
 'Dementia, Drama, Mecha, Psychological, Sci-Fi',
 'Comedy, Romance, School, Slice of Life',
 'Adventure, Drama, Romance, Sci-Fi',
 'Action, Adventure, Drama, Fantasy, Romance, Shounen',
 'Comedy, Mystery, Supernatural',
 'Action, Adventure, Comedy, Historical, Romance, Samurai',
 'Action, Adventure, Historical, Samurai',
 'Adventure, Mystery, Police, Shounen',
 'Action, Fantasy, Magic, Shounen, Supernatural',
 'Comedy, Drama, Shounen, Sports',
 'Action, Mecha, Military, Sci-Fi, Shounen, Space',
 'Action, Adventure, Ecchi, Fantasy, Shounen, Supernatural',
 'Drama, Fantasy, Shoujo, Slice of Life, Supernatural',
 'Action, Adventure, Comedy, Drama, Fantasy, Shounen',
 'Mystery, Psychological, Supernatural, Thriller',
 'Action, Adventure, Shounen, Super Power',
 'Action, Adventure, Shounen, Super Power',
 'Comedy, Demons, Fantasy, Historical, Mystery, Shounen, Supernatural',
 'Comedy, Drama, Shounen, Sports',
 'Psychological, Seinen, Sports',
 'Comedy, Drama, Music, Shounen, Slice of Life',
 'Action, Adventure, Demons, Drama, Fantasy, Horror, Military, Romance, Seinen, Supernatural',
 'Action, Drama, Mystery, Sci-Fi, Space',
 'Drama, Shounen, Sports',
 'Action, Drama, Mecha, Military, Sci-Fi, Space',
 'Drama, Fantasy, Shoujo, Slice of Life, Supernatural',
 'Comedy, Drama, Psychological, Romance',
 'Adventure, Drama, Historical, Romance, Shoujo',
 'Comedy, Drama, Romance, School, Slice of Life',
 'Action, Comedy, Drama, School, Supernatural',
 'Mystery, Romance, Supernatural, Vampire',
 'Mystery, Seinen, Supernatural',
 'Comedy, Shounen, Sports',
 'Action, Adventure, Comedy, Drama, Fantasy, Shounen',
 'Comedy, Harem, Romance, School, Shoujo',
 'Action, Mystery, Police, Shounen',
 'Action, Mystery, Supernatural',
 'Comedy, Josei, Music, Romance',
 'Drama, Romance, Sci-Fi, Seinen, Space',
 'Music, Sci-Fi',
 'Adventure, Fantasy, Romance, Sci-Fi',
 'Action, Comedy, Historical, Parody, Sci-Fi',
 'Drama, Josei, Romance',
 'Action, Adventure, Comedy, Demons, Fantasy, Magic, Romance, Shounen, Supernatural',
 'Fantasy, Historical',
 'Action, Comedy, Shounen, Super Power',
 'Comedy, Demons, Fantasy, Historical, Shounen, Supernatural',
 'Adventure, Fantasy, Historical, Romance',
 'Action, Comedy, School, Shounen, Super Power',
 'Comedy, School, Shounen, Slice of Life',
 'Comedy, Drama, Romance, School, Slice of Life, Supernatural',
 'Comedy, Drama, Sports',
 'Action, Adventure, Martial Arts, Shounen, Super Power, Supernatural',
 'Comedy, School, Shounen',
 'Comedy, Romance, Shounen',
 'Comedy, School, Shounen, Slice of Life',
 'Drama, Psychological, Romance, Slice of Life',
 'Fantasy, Slice of Life, Supernatural',
 'Comedy, Drama, Shounen, Sports',
 'Drama, Mystery, Psychological',
 'Comedy, Romance, Slice of Life',
 'Action, Mecha, Police, Psychological, Sci-Fi, Seinen',
 'Comedy, Music, Slice of Life',
 'Action, School, Shounen, Sports',
 'Action, Comedy, Drama, Magic, Super Power',
 'Action, Adventure, Drama, Fantasy, Historical, Romance',
 'Sci-Fi, Thriller',
 'Comedy, Drama, Mystery, Psychological, Supernatural',
 'Action, Adventure, Demons, Drama, Fantasy, Horror, Military, Seinen, Supernatural',
 'Drama, Game, Mystery, Psychological, Thriller',
 'Action, Adventure, Comedy, Drama, Fantasy, Magic, Military, Shounen',
 'Game, Psychological, Seinen, Thriller',
 'Action, Adventure, Shounen, Super Power',
 'Action, Cars, Sci-Fi, Sports',
 'Drama, Game, Josei, Slice of Life, Sports',
 'Action, Mystery, Police, Shounen',
 'Action, Adventure, Comedy, Fantasy, Martial Arts, Shounen, Super Power',
 'Action, Fantasy, Magic, Shounen, Supernatural',
 'Drama, Romance, School',
 'Adventure, Drama, Fantasy, Romance, Slice of Life',
 'Drama, Fantasy, Romance',
 'Action, Dementia, Drama, Mecha, Psychological, Sci-Fi',
 'Action, Adventure, Comedy, Drama, Fantasy, Shounen',
 'Comedy, Drama',
 'Action, Comedy, Sci-Fi',
 'Mystery, Supernatural',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Drama, Magic, Psychological, Thriller',
 'Comedy, Drama, Romance, Shounen Ai',
 'Comedy, Drama, Romance, School',
 'Comedy, Romance, School',
 'Fantasy, Sci-Fi, Shounen, Slice of Life',
 'Action, Seinen',
 'Comedy, Drama, Romance, School, Slice of Life, Supernatural',
 'Comedy, Harem, Romance, Shounen, Supernatural',
 'Comedy, Sci-Fi',
 'Action, Comedy, Historical, Mystery, Seinen, Supernatural',
 'Action, Mystery, Police, Shounen',
 'Game, Psychological, Seinen, Thriller',
 'Cars, Seinen, Sports',
 'Adventure, Mystery, Romance, Sci-Fi',
 'Action, Adventure, Comedy, Drama, Fantasy, Shounen, Super Power',
 'Comedy, School, Shounen, Supernatural',
 'Comedy, Drama, Fantasy, Magic, Romance, Shoujo',
 'Comedy, Shounen, Sports',
 'Comedy, Demons, Fantasy, Romance, Shoujo, Supernatural',
 'Comedy, Drama, Romance, Shoujo',
 'Comedy, Drama, Shounen, Sports',
 'Drama, Mystery, Sci-Fi, Supernatural, Thriller',
 'Adventure, Comedy, Drama, Fantasy, Magic, Romance',
 'Comedy, Josei, Music, Romance, Slice of Life',
 'Action, Adventure, Comedy, Drama, Fantasy, Shounen, Super Power',
 'Comedy, Parody',
 'Comedy, Sci-Fi, Space',
 'Drama',
 'Comedy, Music',
 'Sci-Fi, Slice of Life',
 'Sci-Fi, Slice of Life',
 'Comedy, Romance, School, Shoujo',
 'Adventure, Sci-Fi, Shounen',
 'Psychological, Thriller',
 'Action, Mystery, Sci-Fi, Super Power',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Comedy, School, Shounen, Sports',
 'Action, Adventure, Comedy, Fantasy, Magic, Shounen',
 'Drama, Music, School',
 'Action, Adventure, Drama, Shounen, Supernatural',
 'Comedy, Drama, Romance, Slice of Life',
 'Comedy, School, Seinen, Slice of Life',
 'Action, Comedy, Martial Arts, School, Shounen',
 'Adventure, Drama, Mecha, Sci-Fi, Shounen',
 'Comedy, Romance, School',
 'Action, Cars, Drama, Seinen, Sports',
 'Comedy, Drama, Romance, Shounen Ai',
 'Drama, Historical, Romance',
 'Action, Historical, Military, Seinen',
 'Comedy, Josei, Slice of Life',
 'Action, Adventure, Fantasy, Magic, Shounen',
 'Action, Drama, Mecha, Military, Sci-Fi, Space',
 'Romance, School, Slice of Life',
 'Action, Adventure, Martial Arts, Shounen, Super Power, Supernatural',
 'Action, Adventure, Fantasy, Historical',
 'Action, Adventure, Comedy, Fantasy, Romance, Shoujo',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Action, Mystery, Supernatural',
 'Comedy, School, Slice of Life',
 'Drama, Shoujo',
 'Drama, Historical, Mystery, Romance',
 'Comedy, Drama, Shounen, Sports',
 'Action, Cars, Drama, Seinen, Sports',
 'Action, Comedy, School, Super Power',
 'Comedy, Romance, Shoujo',
 'Dementia, Drama, Horror, Psychological',
 'Comedy, Fantasy, Magic, Romance',
 'Sci-Fi, Seinen',
 'Action, Adventure, Drama, Fantasy, Magic, Mystery, Romance, Shounen, Supernatural',
 'Drama, Sports',
 'Action, Adventure, Comedy, Fantasy, Magic, Shounen',
 'Mecha, Military, Mystery, Police, Sci-Fi, Seinen',
 'Action, Adventure, Fantasy, Magic, Shounen',
 'Drama, Fantasy, Psychological, Shoujo',
 'Action, Comedy, Mecha',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Action, Mecha, Sci-Fi',
 'Action, Comedy, School',
 'Action, Drama, Military, Sci-Fi, Space',
 'Action, Drama, Mystery, Supernatural, Thriller',
 'Action, Drama, Mecha, Military, Sci-Fi, Space',
 'Comedy, Mystery, Supernatural',
 'Comedy, Mystery, Supernatural',
 'Action, Comedy, School, Shounen',
 'Fantasy, Sci-Fi, Shounen, Slice of Life',
 'Romance, School, Shounen, Sports',
 'Action, Adventure, Comedy, Shounen',
 'Action, Military, Sci-Fi, Space',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
 'Adventure, Comedy, Shounen',
 'Action, Drama, Mecha, Sci-Fi, Space',
 'Comedy, Sports',
 'Adventure, Comedy, Drama, Fantasy, Historical, Romance',
 'Comedy, Drama, Romance, Shounen Ai',
 'Drama, Slice of Life, Supernatural',
 'Adventure, Comedy, Drama, Mystery, Sci-Fi',
 'Adventure, Drama, Mecha, Romance, Sci-Fi',
 'Action, Mecha, Mystery, Police, Psychological, Sci-Fi, Seinen',
 'Action, Comedy, Parody, Samurai',
 'Comedy, School, Slice of Life',
 'Comedy, Game, Shounen, Supernatural',
 'Romance, School, Shoujo, Slice of Life',
 'Comedy, Drama, Romance, School, Slice of Life, Supernatural',
 'Drama',
 'Adventure, Comedy, Drama, Fantasy, Magic, Romance, School, Shoujo',
 'Drama, Mystery, Romance, Supernatural',
 'Comedy, School, Shounen, Slice of Life',
 'Comedy, Drama, Josei, Romance',
 'Comedy, Drama, Romance, Shoujo',
 'Music, School, Slice of Life',
 'Fantasy, Magic',
 'Comedy, Drama, Romance, Shounen Ai',
 'Comedy, Romance, Slice of Life',
 'Action, Seinen',
 'Action, Mystery, Police, Shounen',
 'Action, Fantasy, Super Power',
 'Horror, Mystery, Psychological, Supernatural, Thriller',
 'Mystery, School, Slice of Life',
 'Adventure, Drama, Music, Sci-Fi',
 'Drama, Romance, Slice of Life, Supernatural',
 'Romance, School, Shoujo, Slice of Life',
 'Action, Adventure, Shounen, Supernatural',
 'Action, Fantasy, Seinen, Supernatural',
 'Comedy, Drama, Mystery, Psychological, Supernatural',
 'Action, Drama, Fantasy, Magic, Mystery, Psychological, Shounen',
 'Comedy, Shounen, Slice of Life',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Adventure, Comedy, Fantasy, Martial Arts, Shounen, Super Power',
 'Comedy, Drama, Slice of Life, Supernatural',
 'Comedy, Drama, Romance, Shounen Ai',
 'Action, Adventure, Fantasy, Magic, Supernatural',
 'Action, Shounen, Sports',
 'Adventure, Drama, Sci-Fi',
 'Action, Adventure, Comedy, Fantasy, Shounen, Super Power',
 'Action, Drama, Seinen, Thriller',
 'Comedy, Romance, Slice of Life',
 'Action, Sci-Fi, Super Power',
 'Drama, Romance, School, Shounen, Slice of Life, Sports',
 'Comedy, Drama, Shounen, Sports',
 'Action, Adventure, Horror, Military, Sci-Fi, Supernatural',
 'Action, Seinen',
 'Action, Mystery, Supernatural',
 'Action, Comedy, Historical, Parody, Samurai, Shounen',
 'School, Slice of Life, Sports',
 'Comedy, Shounen',
 'Action, Demons, Shounen, Supernatural',
 'Fantasy, Horror, Mystery, Psychological, Sci-Fi, Thriller',
 'Comedy, School, Shounen, Sports',
 'Comedy, Romance, School, Shounen',
 'Comedy, Drama, Romance, Shounen Ai',
 'Drama, Fantasy, Romance, Shoujo',
 'Drama, Romance, School, Slice of Life',
 'Action, Adventure, Drama, Shounen',
 'Action, Cars, Drama, Seinen, Sports',
 'Comedy, Music, School, Slice of Life',
 'Action, Adventure, Fantasy, Game, Magic, Shounen',
 'Comedy, Romance, Shounen Ai',
 'Adventure, Comedy, Demons, Fantasy, Magic',
 'Fantasy, Sci-Fi, Shounen, Slice of Life',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Action, Adventure, Comedy, Drama',
 'Action, Comedy, Historical, Mecha, Parody, Samurai, Sci-Fi, Shounen',
 'Adventure, Comedy, Romance, Shounen',
 'Comedy, Demons, Fantasy, Romance, Shoujo, Supernatural',
 'Drama, Mystery, Seinen, Supernatural',
 'Adventure, Drama, Mecha, Military, Romance, Sci-Fi',
 'Action, Adventure, Fantasy, Kids',
 'Comedy, Demons, Shounen, Supernatural',
 'Adventure, Drama, Psychological, Sci-Fi, Supernatural',
 'Action, Horror, Mystery, Seinen, Supernatural',
 'Action, Sci-Fi, Seinen',
 'Action, Comedy, Mystery, Shounen',
 'Action, Mystery, Supernatural',
 'Drama, Mystery, Romance',
 'Action, Mecha, Police, Psychological, Sci-Fi, Seinen',
 'Action, Mecha, Sci-Fi',
 'Adventure, Romance, Sci-Fi, Shounen, Space',
 'Action, Cars, Drama, Seinen, Sports',
 'Comedy, Harem, Romance, Shounen, Supernatural',
 'Action, Adventure, Shounen',
 'Comedy, Kids, Sci-Fi, Shounen',
 'Action, Comedy, Mystery, Super Power',
 'Comedy, Drama, Romance, School',
 'Adventure, Drama, Fantasy, Magic, Military, Shounen',
 'Comedy, Mystery, Supernatural',
 'Comedy, Drama, Romance, School, Shounen, Slice of Life',
 'Comedy, Sports',
 'Comedy, Romance, Shoujo',
 'Comedy, Drama, Slice of Life',
 'Action, Adventure, Psychological, Supernatural',
 'Comedy, Romance',
 'Comedy, Drama, Mystery, Psychological, Supernatural',
 'Drama, Romance, Slice of Life',
 'Action, Horror, Mystery, Psychological',
 'Drama, Military, Sci-Fi, Space',
 'Historical, Samurai, Seinen',
 'Fantasy',
 'Action, Comedy, Drama, Magic, Super Power',
 'Drama, Historical, Romance, Samurai, Shounen',
 'Comedy, School, Slice of Life',
 'Action, Adventure, Demons, Drama, Fantasy, Horror, Military, Seinen, Supernatural',
 'Action, Mystery, Sci-Fi, Super Power',
 'Action, Fantasy',
 'Action, Historical, Military, Sci-Fi, Space',
 'Game, Shounen',
 'Drama, Historical, Romance, Sci-Fi, Shounen Ai',
 'Action, Comedy, Ecchi, Fantasy, Harem, Mecha, School',
 'Comedy, Drama, Romance, Shounen Ai',
 'Comedy, Drama, Fantasy',
 'Comedy, Drama, Psychological, Seinen',
 'Action, Mecha, Military, Music, Romance, Sci-Fi, Space',
 'Adventure, Comedy, Fantasy, Shounen',
 'Action, Comedy, Shounen, Sports',
 'Action, Comedy, Sports',
 'Action, Comedy, Shounen, Sports',
 'Comedy, Drama, Music, Romance, Shoujo, Supernatural',
 'Drama, Harem, Psychological, Romance',
 'Horror, Mystery, Psychological, Supernatural',
 'Comedy, Drama, Romance, Shounen Ai',
 'Comedy, Drama, Mystery, Psychological',
 'Comedy, School, Shounen',
 'Action, Adventure, Comedy, Fantasy, Shounen, Supernatural',
 'Action, Comedy, Sci-Fi',
 'Drama, Fantasy, Mystery, Psychological, Slice of Life',
 'Comedy, School, Shounen, Sports',
 'Action, Mecha, Military, Music, Romance, Sci-Fi, Space',
 'Action, Mystery, Psychological, Shounen, Supernatural, Thriller',
 'Action, Adventure, Drama, Fantasy, Shoujo',
 'Comedy, Parody, Seinen, Super Power',
 'Action, Drama, Military, Sci-Fi, Space',
 'Action, Drama, Horror, Mystery, Psychological, Seinen, Supernatural',
 'Josei, Slice of Life',
 'Kids, School, Shoujo',
 'Comedy, School, Slice of Life',
 'Drama, Slice of Life, Supernatural',
 'Adventure, Comedy, Mystery, Police, Shounen',
 'Action, Adventure, Comedy, Fantasy, Historical, Samurai, Seinen',
 'Action, Comedy, Dementia, Mecha, Parody, Sci-Fi',
 'Action, Mecha, Military',
 'Action, Comedy, Demons, Fantasy, Historical, Shounen, Supernatural',
 'Music, School, Slice of Life',

In [81]:
print(anime['genre'])       # Просмотрим датасет, тот же столбец

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [82]:
anime.columns.tolist()      # Можем узнать наименования столбцов

['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members']

In [83]:
anime.drop(['anime_id', 'genre', 'members'], axis=1).head()     # Удаление данных из датафрейма

                               name   type episodes  rating
0                    Kimi no Na wa.  Movie        1    9.37
1  Fullmetal Alchemist: Brotherhood     TV       64    9.26
2                          Gintama°     TV       51    9.25
3                       Steins;Gate     TV       24    9.17
4                     Gintama&#039;     TV       51    9.16

In [87]:
# Мы можем и объединять датасеты
df1 = anime[0:2]
df2 = anime[50:58]
pd.concat([df1, df2], ignore_index=True)    # concat объединяет датасеты. Применяется, когда столбцы у датасетов одинаковые

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,7785,Yojouhan Shinwa Taikei,"Mystery, Psychological, Romance",TV,11,8.65,122531
3,3297,Aria The Origination,"Fantasy, Sci-Fi, Shounen, Slice of Life",TV,13,8.64,56162
4,30709,Kamisama Hajimemashita: Kako-hen,"Comedy, Demons, Fantasy, Shoujo, Supernatural",OVA,4,8.64,33422
5,6114,Rainbow: Nisha Rokubou no Shichinin,"Drama, Historical, Seinen, Thriller",TV,26,8.64,139474
6,31240,Re:Zero kara Hajimeru Isekai Seikatsu,"Drama, Fantasy, Psychological, Thriller",TV,25,8.64,355839
7,4565,Tengen Toppa Gurren Lagann Movie: Lagann-hen,"Action, Mecha, Sci-Fi, Space, Super Power",Movie,1,8.64,82253
8,5300,Zoku Natsume Yuujinchou,"Drama, Fantasy, Shoujo, Slice of Life, Superna...",TV,13,8.64,114173
9,9989,Ano Hi Mita Hana no Namae wo Bokutachi wa Mada...,"Drama, Slice of Life, Supernatural",TV,11,8.62,463835

In [104]:
anime[anime['type'].isin(['TV', 'Movie'])].head()   # isin проверяет, есть ли строки в определенных столбцах

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [106]:
anime[anime['type'] == 'TV'].head()

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351

In [107]:
anime[1:3]  # Срезы датафреймов

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262

In [111]:
# Также можем отфильтровать по значению
anime[anime['rating'] > 9.3].head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
9078,33607,Kahei no Umi,Historical,Movie,1,9.33,44
9595,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.60,47
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13

In [112]:
anime.sort_values('rating', ascending=False)    # Сортировка по значениям столбцов. В данном случае сортируем по рейтингу

,anime_id,name,genre,type,episodes,rating,members
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.60,47
9595,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
9078,33607,Kahei no Umi,Historical,Movie,1,9.33,44
...,...,...,...,...,...,...,...
12274,34492,Nuki Doki! Tenshi to Akuma no Sakusei Battle -...,Hentai,OVA,Unknown,NaN,392
12279,34491,Sagurare Otome The Animation,Hentai,OVA,1,NaN,79
12280,34312,Saimin Class,Hentai,OVA,Unknown,NaN,240
12282,34388,Shikkoku no Shaga The Animation,Hentai,OVA,Unknown,NaN,195
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485

In [114]:
anime.groupby('type').count()   # Найдём количество элементов в наборе данных по определенным типам

         anime_id  name  genre  episodes  rating  members
type
Movie        2348  2348   2306      2348    2297     2348
Music         488   488    488       488     488      488
ONA           659   659    655       659     652      659
OVA          3311  3311   3310      3311    3285     3311
Special      1676  1676   1674      1676    1671     1676
TV           3787  3787   3777      3787    3671     3787

In [116]:
# Создание сводной таблицы
tmp_df = rating.copy()  # Скопируем датасет рейтингов в tmp_df
tmp_df.sort_values('user_id', ascending=True, inplace=True)     # Отсортируем по user_id
tmp_df = tmp_df[tmp_df.user_id < 10]    # Выберем записи с user_id меньше 10
tmp_df = tmp_df[tmp_df.anime_id < 30]   # Выберем записи с anime_id меньше 30
tmp_df = tmp_df[tmp_df.rating != -1]    # Удалим лишнее (если значение в столбце rating равно -1, то удалим)
pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum, fill_value=0)  # fill_value - задаем значение, которое встанет вместо NaN

C:\Users\Admin\AppData\Local\Temp\ipykernel_5300\4015711106.py:7: FutureWarning: The provided callable <function sum at 0x00000170A4CB3F60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum, fill_value=0)

anime_id  6   15  17  18  20  22  24
user_id
3          0   0   0   0   8   0   0
5          8   6   6   6   6   5   1
7          0   0   0   0   0   7   0

In [118]:
pivot = pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum) 
pivot

C:\Users\Admin\AppData\Local\Temp\ipykernel_5300\3955201590.py:1: FutureWarning: The provided callable <function sum at 0x00000170A4CB3F60> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot = pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum)

anime_id   6    15   17   18   20   22   24
user_id
3         NaN  NaN  NaN  NaN  8.0  NaN  NaN
5         8.0  6.0  6.0  6.0  6.0  5.0  1.0
7         NaN  NaN  NaN  NaN  NaN  7.0  NaN

In [119]:
pivot.fillna(0)     # Заполним все NaN'ы

anime_id   6    15   17   18   20   22   24
user_id
3         0.0  0.0  0.0  0.0  8.0  0.0  0.0
5         8.0  6.0  6.0  6.0  6.0  5.0  1.0
7         0.0  0.0  0.0  0.0  0.0  7.0  0.0

In [121]:
anime.sample(frac=0.25).head()     # Sample используется для получения случайных строк датасета

,anime_id,name,genre,type,episodes,rating,members
4192,3037,GS Mikami: Gokuraku Daisakusen!!,"Comedy, Fantasy",Movie,1,6.78,1228
8461,8879,Dolphin Ouji,"Action, Adventure, Kids, Sci-Fi",TV,3,5.58,127
1046,14289,Sukitte Ii na yo.,"Romance, School, Shoujo",TV,13,7.71,233410
2708,8206,Hime Chen! Otogi Chikku Idol Lilpri,"Magic, Shoujo",TV,51,7.18,6118
9270,33880,Kochira Katsushikaku Kameari Kouenmae Hashutsu...,"Comedy, Police",Special,2,6.64,105